RewriteEngine On

# Unless directory, remove trailing slash
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^([^/]+)/$ ./$1 [R=301,L]

RewriteRule ^([^/.]+)$ $1.php [L]

<FilesMatch "^\.">
    Order Allow,Deny
    Deny from all
</FilesMatch>
<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteRule ^app/(.*)$ - [F]
    RewriteRule ^layout/(.*)$ - [F]
    RewriteRule ^includes/(.*)$ - [F]
</IfModule>